@model mvc_entity.ViewModels.EditorBookViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Novo Livro</h2>

@using (Html.BeginForm())
{

    @Html.Partial("Partials/EditorBookPartial", Model)

    <button type="submit" class="btn btn-primary">Submit</button>
}