@model mvc_entity.ViewModels.EditorBookViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @*@Html.ValidationMessage("ErrorMessage")*@
    <br />
    <br />
    <br />

    @Html.Partial("Partials/EditorBookPartial", Model)

    <button type="submit" class="btn btn-primary">Submit</button>
}

@section TituloPagina {
    <h3>Create Book</h3>
    @Html.ActionLink("Voltar", "Index", "Book")
}