@model IEnumerable<mvc_entity.Domain.Book>

@{
    ViewBag.Title = "List Book";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("Partials/BookListPartial", Model)


@section TituloPagina {
    <h3>Books List</h3>
}