@model mvc_entity.ViewModels.EditorBookViewModel
@{
    ViewBag.Title = "Updating a book...";
}

<h2>UpdateBook</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)

    @Html.Partial("Partials/EditorBookPartial", Model)

    <button type="submit" class="btn btn-primary">Submit</button>
}