@model mvc_entity.ViewModels.EditorCategoryViewModel
@{

}
<div class="form-group">
    @Html.LabelFor(x => x.Nome)
    @Html.EditorFor(x => x.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o nome da categoria" } })
</div>