@model IEnumerable<mvc_entity.Domain.Author>


@{
    ViewBag.Title = "Authors List";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("Partials/AuthorListPartial", Model)

@section TituloPagina {
    <h3>Authors List</h3>
}