@model mvc_entity.ViewModels.EditorAuthorViewModel
@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.Partial("Partials/EditorAuthorPartial", Model)

    <button class="btn btn-primary" type="submit">Submit</button>
}

@section TituloPagina {
    <h3>Edit Author</h3>
    @Html.ActionLink("Voltar", "Index", "Author")
}