@model mvc_entity.Domain.Category
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="form-group">
        <h4>Do you really want to delete this item?</h4>
        <br />
        @Html.LabelFor(model => model.Nome)
        @Html.ValueFor(model => model.Nome)
        <br />
        <br />
        <div>
            <button class="btn btn-primary" type="submit">Delete</button>
        </div>
    </div>

}


@section TituloPagina {
    <h3>Delete Category</h3>
    @Html.ActionLink("Voltar", "Index", "Category")
}
